// 图标
.iconfont {
  font-family: iconfont;
}

.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-view {
  margin-top: 20px;
  text-align: center;
  height: 100px;
}

.text {
  font-size: 26px;
  line-height: 26px;
  color: #3B3B3B;
}

.font-100 {
  font-size: 100px;
  line-height: 100px;
  text-align: center;
}
.font-80 {
  font-size: 80px;
  line-height: 80px;
  text-align: center;
}
.font-70 {
  font-size: 70px;
  line-height: 70px;
  text-align: center;
}
.font-60 {
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}
.font-50 {
  font-size: 50px;
  line-height: 50px;
}
.font-64 {
  font-size: 64px;
  line-height: 64px;
}

.font-32 {
  font-size: 32px;
  line-height: 32px;
}

.font-40 {
  font-size: 40px;
  line-height: 40px;
}
.font-32 {
  font-size: 32px;
  line-height: 32px;
}
.font-30 {
  font-size: 30px;
  line-height: 30px;
}

.font-28 {
  font-size: 28px;
  line-height: 28px;
}

.font-26 {
  font-size: 26px;
  line-height: 26px;
}
.font-24 {
  font-size: 24px;
  line-height: 24px;
}

.font-22 {
  font-size: 22px;
}

.font-20 {
  font-size: 20px;
  line-height: 20px;
}

.font-18 {
  font-size: 18px;
  line-height: 18px;
}

.color-pink {
  color: #EE1C41;
}

.color-gray {
  color: #666666;
}
.color-gray-light{
  color: #828282;
}
.color-gray-dark{
  color: #3B3B3B;
}
.color-white {
  color: #fff;
}

.color-blur {
  color: #0066ff;
}

.color-green {
  color: #1cb24b;
}

.color-black {
  color: #000;
}
.color-yellow {
  color: #ea8716;
}
